<nav class="fixed-bottom">
  <div class="main-menu">
    <i class="fa-solid fa-house"></i>
    <i class="fa-solid fa-inbox"></i>
    <i class="fa-solid fa-hexagon-nodes"></i>
    <i class="fa-solid fa-book-bookmark"></i>
    <%= link_to profile_path do %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
    <% end %>
  </div>
</nav>
